# Laravel 10

/vendor
/node_modules

# Laravel specific
/public/storage
/public/hot
/public/uploads
/storage/*.key
.env
Homestead.yaml
Homestead.json
.vagrant
.phpunit.result.cache

# Ignore everything in the storage directory except for .gitignore files
/storage/*
!/storage/.gitignore
!/storage/logs/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

# Ensure directories are added but not their contents
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*

# IDEs and editors
.idea/
.vscode/
/*.sublime-project
/*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Composer & NPM dependencies
npm-debug.log
yarn-error.log

# Laravel Mix specific
/public/mix-manifest.json
/public/hot
/public/css
/public/js
/public/images
/public/fonts

# PHPUnit
.phpunit.result.cache
.phpunit.result.cache/*

# Laravel Sail
sail

# Mac files
*.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
Desktop.ini
