// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; 
}
  
main {
  padding-top: 60px; 
}
